body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px silver, 0 0 1em rgb(247, 229, 240), 0 0 0.2em rgb(178, 160, 174);

  }
  header {
    background-color: #F9A825;
    padding: auto;
    text-align: center;
    color: white;

  }
  .main-nav{
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background-color: #F9A825;
    

  }
  .nav-li{
   margin: 20px;
   align-items: center;
  
   list-style-type: none;
  }

  li button{
    border: none;
    background-color: #F9A825;
    font-size: x-large;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 1px 1px 2px silver, 0 0 1em rgb(30, 135, 68), 0 0 0.2em green;
  }
  img{
    border-radius: 0.5em;
  }
  header h1 {
    font-size: 36px;
  }
  header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #F9A825;
  }
  header li {
    margin: 10px;
  }
  header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  header button:hover {
    color: #FFD700;
  }
  #main-container {
    padding: 20px;
  }
  #create-arrangment-form {
    text-align: center;
  }
  #flower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #create-arrangment {
    background-color: #f99f0e;
    border-radius: 1.5em;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  #create-arrangment:hover {
    background-color: #FFD700;
  }